body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
}


.header, .container-top{
    margin: 0 280px;
}

.header{
    display: flex;
    color: #F9FAF8;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
}

.hero, .footer{
    background-color: #1F2937;
}

.header-logo{
    font-size: 24px;
    font-weight: 1000;
    margin: 0;
}

.header-links{
    display:flex;
    gap: 30px;
    margin: 0;
    font-size: 22px;
}

.container-top{
    display: flex;
    gap: 40px;
}

.container-top img{
    width: 600px;
    height: 270px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    font-size: 22px;
    color: #F9FAF8;
}

.hero-maint{
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
    color: #F9FAF8;
    
}

.hero-subtext{
    font-size: 18px;
    color: #F9FAF8;
}

.container-top button{
    background: #3882F6;
    color: #F9FAF8;
    border: 8px solid #3882F6;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 1000;
    width: 130px;
}

.hero{
    padding-bottom: 140px;
}

.awesome-text{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

